
*{
    margin: 0;
    padding: 0;
}
.navbar--container{
    height:60px;

}

.navbar--wrapper{
    padding: 10px 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.navbar--wrapper-left{
    flex: 1;
    display: flex;
    align-items: center;
    
    
}
.navbar--wrapper-center{
    flex: 1;
    font-weight: bold;
    text-align: center;
    
}

.navbar--wrapper-right{
    flex: 1;
    
    
}

.navbar--wrapper-left span{
    font-size: 14px;
    cursor: pointer;
}

.search-container{
    border:0.5px solid lightgray;
    display: flex;
    align-items: center;
    margin-left: 25px;
    padding: 5px;
}

.search-container input{
    border: none;
}

.menu-items{
    font-size: 14px;
    cursor: pointer;
    
    display: flex;
    justify-content: flex-end;
    align-items: center;
    
}

.menu-item{
    margin-left: 25px;
}

@media only screen and (max-width:380px) {
    .navbar--container{
        height: 50px;
    }

    .navbar--wrapper{
        padding: 10px 0px;
    }

    .navbar--wrapper-left span{
        display: none;
    }

    input{
        width: 50px;
    }

    .navbar--wrapper-center h1{
        font-size: 24px;
    }

    .menu-items{
        justify-content: center;
    }

    .menu-item{
        font-size: 12px;
        margin-left: 10px;
    }

    .navbar--wrapper-right{
        flex: 2;   
    }
}